<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
   
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <div class="btn-group" dropdown>
          <button id="userStateBtn" *dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Button dropdown <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>

      </li>
    </ul>
  </nav>
</header>
